    <link rel="stylesheet" href="/css/single-view.css" />



  <section id="movie-section" class="container row">
       <div> 
          {{!-- <img src="./assets/images/jaws.jpeg" id="movie-poster"> --}}
    {{#each movies}}
    <img src='https://image.tmdb.org/t/p/w500{{poster_path}}' href="/movies/single/{{id}}" id="movie-poster">
    {{/each}}
       </div>
{{!-- or do we need helper functions? give each a class (i think movies already) then addEventListener
on those classes with function that fetches the single view page based on ${id} --}}

    {{#each movies}}
    <div class="card border-info mb-3" id="movie-info">
    <div class="card-body text-info">
    <h3 class="card-title">{{title}}</h3>
    <p class="card-text">{{plot}}</p>

    <h5 class="card-title">Audience Score</h5>
    <p class="card-text">{{rating}} / 10</p>

    <h5 class="card-title">Genre</h5>
    <p class="card-text">{{genre}} </p>

    <h5 class="card-title">Release Year</h5>
    <p class="card-text">{{release_year}} </p>

  </div>
</div>
<button class="btn buttons" id="buttonId" name="{{id}}"> Add to Favorites</button>
{{/each}}
</section> 


<section class="container row" id="user-reviews">
  <form id="add-review" class="col" action="/single">
    <textarea id="review-text" name="userReview"></textarea>
  <br/>
    <input type="submit"/>
  </form>

  <div class="col" id="past-reviews">
    <div class="single-review">
      <ion-icon class="feature-icon" name="infinite-outline"></ion-icon>
      <p class="review-title">Hated It</p>
      <p class="review-text">
        This is my placeholder text. Does Marcellus Wallace look like a bitch? What? *shots* Say what again motherfucker
        I dare you. Say what one more motherfucking time! 
      </p>
    </div>
    <div class="single-review">
      <ion-icon class="review-icon" name="nutrition-outline"></ion-icon>
      <p class="review-title">Loved it</p>
      <p class="review-text">
        This is my placeholder text. Does Marcellus Wallace look like a bitch? What? *shots* Say what again motherfucker
        I dare you. Say what one more motherfucking time!
      </p>
    </div>
    <div class="single-review">
      <ion-icon class="review-icon" name="leaf-outline"></ion-icon>
      <p class="review-title">Best movies ever </p>
      <p class="review-text">
        This is my placeholder text. Does Marcellus Wallace look like a bitch? What? *shots* Say what again motherfucker
        I dare you. Say what one more motherfucking time!
      </p>
    </div>
    <div class="single-review">
      <ion-icon class="review-icon" name="pause-outline"></ion-icon>
      <p class="review-title">Title</p>
      <p class="review-text">
        This is my placeholder text. Does Marcellus Wallace look like a bitch? What? *shots* Say what again motherfucker
        I dare you. Say what one more motherfucking time!
      </p>
    </div>
  </div>
</section>
      
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>    
<script src="/javascript/single-view.js" ></script> 
